/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    color: #fff;
}

body {
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --dark-color-100: #121212;
    --dark-color-80: #282828;
    --dark-color-60: #3f3f3f;
    --dark-color-40: #575757;
    --dark-color-20: #717171;
    --dark-color-0: #8b8b8b;
    --light-color-100: #fff;
    --main-color: #382bf0;
    --success-color: #076d2f;

    --background-image: url('assets/bg-default.png');
}

.d-none {
    display: none;
}